body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  
  .calculator {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  #result {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 11px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .opt {
    background-color: #91C8E4;
    color: white;
    font-weight: bolder;
  }

  .fun {
    background-color: #ACFADF;
    font-weight: bolder;
  }

  .equal {
    background-color: #03C988;
    font-weight: bolder;
  }

  .clear {
    background-color: transparent;
  }

  button:hover {
    background-color: #ddd;
  }
  
  .opt:hover {
    background-color: #085b85;
  }

  .fun:hover {
   background-color: #47e6ae;
  }